* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     
}
:root{
    --colorBlueDar:rgb(12, 38, 124);
}
body{
    background: #dcdde1; /* Old browsers */
}
h1{
    display: flex;
    justify-content: center;
    color: var(--colorBlueDar);
}
#messages{
    width: 80%;
    max-width: 655px;
    height: 455px;
    overflow-y: scroll;
    border: 1px solid #eee;
    box-shadow: 0px 0px 20px #ccc inset;
    margin: auto;
}
form {
    background: #dcdde1;
    padding: 3px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 55px;
    margin: auto;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.message{
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: white;
} 
form #text {
     border: 0;
     padding: 10px;
     width: 39%;
}
form #btnSend{
    width: 9.4%;
    background: var(--colorBlueDar);
    color: #ccc;
    border: none;
    padding: 10px;
}
/*MODAL NICKNAME*/
 .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 15px;
    border: 1px solid #888;
    width: 25%;
}
#nickname{
    width: 70%;
    height: 29px;
    padding: 5px 19px;
}
#btnNick{
    width: 25%;
    background-color: var(--colorBlueDar);
    color: white;
    border: none;
    padding: 6px;
}